altgraph==0.17.4
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==43.0.1
distlib==0.3.8
et-xmlfile==1.1.0
exrex==0.11.0
filelock==3.15.4
greenlet==3.0.3
idna==3.7
latexcodec==2.0.1
macholib==1.16.3
msgpack==1.0.7
numpy==2.1.0
openpyxl==3.0.10
pagelabels==1.2.0
pandas==2.2.1
pdfrw==0.4
Pillow==10.3.0
platformdirs==4.2.2
pybtex==0.24.0
pycparser==2.22
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.2
PyMuPDF==1.23.12
PyMuPDFb==1.23.9
pynvim==0.5.0
pyperclip==1.8.2
PySocks==1.7.1
pytz==2024.1
requests==2.31.0
requests-futures==1.0.1
roman==4.1
stem==1.8.2
term-image==0.7.0
termcolor==2.4.0
torrequest==0.1.0
tzdata==2024.1
urllib3==2.1.0
virtualenv==20.26.3
